<mat-toolbar>
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span>jugueteria</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menuCerrar" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
    @if(user.rol === "1"){
    <button mat-menu-item routerLink="user">Usuarios</button>
    <button mat-menu-item routerLink="product">Productos</button>
    }@else if (user.rol === "2") {
    <button mat-menu-item routerLink="product">Productos</button>
    }
</mat-menu>
<mat-menu #menuCerrar="matMenu">
    <button mat-menu-item routerLink="user" (click)="closeSession()">Cerrar sesion</button>
</mat-menu>
<router-outlet></router-outlet>