.container {
    display: block;
    width: 550px;
    margin: 0 auto;

    div {
        display: flex;
        align-items: center;
        width: 100%;

        mat-form-field {
            margin: 0 5px;
            width: 50%;

        }
    }

    mat-form-field {
        width: 100%;
    }
}
button{
    margin-left: 15px;
}

::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}